@import "var";

* {
  margin: 0;
  padding: 0;
}

body{
    max-width: $widthBody;
    margin: 0 auto;
}

.container {
    width: $widthContent;
}

.header{
    background-color: #222222;
    padding-top: 18px;
    padding-bottom: 18px;
}